/*the selector { property: value} */
p {
    color:green;
    font-family: Lucida Sans;
    background-color: #FC9D9A;
    padding: 50px;
    font-size: 2em;
}
body {
    background-color: #83AF9B;
    text-align: center;
    font-family: Arial;
    padding: 0;
    margin: 0;
}
h1 {
    background-color: #FE4365;
    color: #F9CDAD;
    font-size: 8em;
    padding: 50px;
}
ul {
    color:lightblue;
    font-size: 4em;
}